body {
  background-color: #ffdead;
}

a{
  text-decoration: none;
}

.page {
  margin: 20px;
  border: 2px black solid;
}

.tab{
  margin-left: 30px;
}


.head {
  margin-left: 40px ;
  margin-right: 40px ;
	display: grid;
	grid-template-columns: 1fr 2fr ;
	grid-gap: 10px;
	height: 30vh;
	border-bottom: 2px black solid;
}

.logo {
  background-image: url(../images/logo.jpg);
  background-position: center;
  border: 2px black solid;
	height: 150px;
	width: 150px;
	margin-top: auto;
  margin-bottom: auto;
	margin-left: 20%;
	border-radius:50%;
}

ul {
		display: flex;
		float: center;
		margin: none
		right: 60%;

}
.head li{
  width: 200px;
  border: 2px black solid;
  border-radius: 20px;
  padding: 20Px;
	list-style: none;
	color: black;
  background-color: #f2a56a;
	text-align: center;
	font-size: 20px;
  margin-top: 40px;
	margin-left: 50px;
	font-family: sans-serif;
}

.body {
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 20px;
}

.pic {
  background-image: url(../images/pic.jpg);
  background-size: cover;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30px;
  height: 90vh;
  border: 2px black solid;
}

.art {
  margin-top: auto;
  margin-bottom: auto;
  margin-right:30px;
  height: 90vh;
  font-size: 21px;
}

.footer{
  background-color: gray;
  margin: 20px;
  margin-top: 10px;
  height: 10vh;
  border: 2px black solid;
  text-align: center;
}
